*{
    padding: 0;
    margin: 0;
}

:root{
    --azulescuro: #051D3B;
    --azuldiscord: #5081FB;
    --azulcobalto: #7BA4FC;
    --azulclaro: #96B9FD;
}

body{
    background-color: var(--azulescuro);
}

.formulario{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 14px;
    border: none;
    outline: none;
}

.formulario:hover{
    background: #41536A;
}

.formulario:focus{
    background: #41536A;
}


.alinhamento{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    grid-template-areas: 
    "1"
    "2"
    "3"
    "4";
}

header{
    grid-area: 1;
}

.textblock{
    grid-area: 2;
}

.seuprojeto{
    grid-area: 3;
}

.personalizacao{
    grid-area: 4;
}

.padding{
    padding: 16px 1rem;
}

@media (min-width: 768px) {
    .padding{
        padding: 16px 2rem;
    }
}


@media screen and (min-width: 1024px) {
    #container{
        display: grid;
        grid-template-areas: 
        "header" "header" "header",
        "navbar" "textblock" "seuprojeto";

        grid-template-columns: 1fr 2fr 1fr;
    }

    header{
        grid-column: 1/4;
        grid-row: 1;
    }

    .textblock{
        grid-column: 2/3;
        grid-row: 2;
        max-width: 50vw;
    }

    .grupo{
        grid-column: 3/4;
        grid-row: 2;
        max-width: 25vw;
    }

    .formulario{
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .formulario{
        font-size: 16px;
    }
}
