    @media screen and (max-width: 425px){
    html{
        zoom: 0.9;
    }
}

#rgbcontainer_comunidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6BD1FF;
    max-width: calc(1024px - 64px);
    padding: 2rem;
    margin: 0 auto;
    border-radius: 8px; 
}

.info_projeto{
    color: white;
    font-family: Inter;
    padding: 2rem;
    background-color: #041832;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    max-height: 120px;
    max-width: calc(1024px - 64px);
    margin: 0 auto;
}


.info_projeto h2{
    font-weight: 700;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 0.5rem;
}

.info_projeto p{
    font-weight: 400;
    font-size: 16px;
    opacity: 0.8;
    max-width: 394px;
}

.descricao{
    overflow: hidden;
}

.info_social{
    display: flex;
    gap: 10px;
}

.info_profile{
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    gap: 0.5rem;
    max-height: 32px;
}

.info_profile img{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.info_profile p{
    opacity: 1;
}

.info_div{
    display: flex;
    justify-content: space-between;
}

.hhmenu{
    margin-right: 24px;
}

.hhx{
    margin-right: 24px;
    max-height: 40px;
}

.comunidadeiconhover{
    display: flex;
    gap: 8px;
    border-radius: 8px;
    padding: 8px;
}

.comunidadeiconhover:hover{
    background: #0B254A;
}

.caixa_projeto_impar{
    margin: 20px 32px;
}

.caixa_projeto_par{
    margin: 20px 32px;
}

.space_between{
    display: flex;
    justify-content: space-between;
}

header{
    max-width: 1075px;
}

.info_div{
    margin-top: 16px;
}


@media screen and (min-width: 1200px) {
    #container{
        display: grid;
        grid-template-areas: 
        "header header header",
        "navbar textblock textblock",
        "navbar textblock textblock";
 
        grid-template-columns: 1fr 1.5fr 1.5fr;
    }

    header{
        grid-column: 1/4;
        grid-row: 1;
    }

    .side-nav {
        display: none;
    }

    .side-nav-desktop{
        grid-column: 1/2;
        grid-row: 2/4;
        max-width: 25vw;
    }

    #textarea_comunidade1{
        grid-row: 3;
    }

    #textarea_comunidade2{
        grid-row: 3;
    }
    
    #textarea_comunidade3{
        grid-row: 2;
    }

    #textarea_comunidade4{
        grid-row: 2;
    }

    .caixa_projeto_impar{
        grid-column: 2/3;
        margin-left: 32px;
        margin-right: 16px;
        margin-top: 16px;
        max-width: 37.5vw
    }
    
    .caixa_projeto_par{
        grid-column: 3/4;
        margin-right: 32px;
        margin-left: 16px;
        margin-top: 16px;
        max-width: 37.5vw
    }

    .fim{
        margin-bottom: 2rem;
    }

    .nav-content-desktop{
        display: block;
    }

    .info_projeto{
        max-height: 100px;
    }

    header{
        max-width: 9999px;
    }

    #searchbar{
        max-width: 1200px;
    }
}
