header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#iconmenu{
    margin-top: 0.8rem;
    margin-right: 1rem ;
}

#iconlupa{
    margin-top: 0.8rem;
    margin-right: 1rem;
}

