header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
}

#logo{
    margin-left: 0.5rem;
}

#iconmenu{
    margin-right: 1rem ;
    display: inline;
}

#iconlupa{
    margin-right: 1rem;
    display: inline;
}

#searchbar{
    width: 26.95rem;
    height: 3.5rem;
}

#iconx{
    display: none;
    margin-right: 1rem;
    width: 24px;
    height: 24px;
}

.fotodesktop{
    display: none; 
    align-items: center;
    margin: 1rem 2.5rem 0rem 1.5rem;
    color: white;
    font-family: Inter;
    font-size: 16px;
}

.fotodesktop img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 767px) {
    #iconlupa{
        display: inline;
    }

    #searchbar{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #iconmenu{
        margin-right: 2rem;
    }

    #iconx{
        margin-right: 2rem;
    }

    #logo{
        height: 4rem;
    }

    #iconlupa{
        display: none;
    }

    #searchbar{
        display: inline;
    }
}

@media screen and (max-width: 1024px){
    #iconmenu{
        width: 24px;
    }
}

@media screen and (min-width: 1024px) {
    #iconmenu{
        width: 0;
    }
    #div1{
        width: 25%;
    }
    
    #div2{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    #div3{
        width: 25%;
        display: flex;
        justify-content: flex-end;
    }
    
    #searchbar{
        width: calc(100% - 4.6rem);
        max-width: 1010px;
    }


    .fotodesktop{
        display: flex;
    }
}