#rgbcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6BD1FF;
    margin-top: 1rem;
    width: 100%;
    max-width: 688px;
    height: 26.875rem;
    grid-area: textblock;
}

main{
    padding: 1rem;
}

textarea{
    resize: none;
    background: #141414;
    color: white;
}

textarea:focus {
    outline: none !important;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px #000000;
  }

#codigo{
    width: 85%;
    margin: 2rem;
}

#mac{
    position: absolute;
}