#personalizacao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1024px;
    margin: auto;
    margin-top: 2.5rem;
    padding: 0px 16px;
}


#linguagem
{
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    margin-top: 1rem;

    padding-left: 14px;
    color: white;
    background: #2D4158;
    border-radius: 8px;
    border: 0;
    outline: 0;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

#linguagem:hover{
    background: rgba(255, 255, 255, 0.24);
    cursor: pointer;
}

#linguagem option{
    background: #41536A;
}

.project__language {
    width: 100%;
    height: 56px;
  
    box-sizing: border-box;
  
    margin-top: 1rem;
  }
  
  .project__name:hover,
  .project__info:hover,
  .project__language:hover {
    background: rgba(255, 255, 255, 0.24);
    transition: 0.3s;
  }
  

#cor{
    width: 100%;
    border-radius: 8px;
    height: 3.5rem;
    background: var(--azulescuro);
    border: 1px solid white;
    padding: 0.5rem;
    margin-top: 1rem;
    align-self: flex-end;
}

#cor:hover{
    cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0.25rem;
  }
  
input[type='color']::-webkit-color-swatch {
border: none;
border-radius: 4px;
}

#salvarprojeto{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 3.5rem;
    background: #5081FB;
    color: #051D3B;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    border: 0px;
}

#salvarprojeto:hover{
    background: #7BA4FC;
    cursor: pointer;
}

#salvarprojeto:active{
    border: 4px solid rgba(37, 97, 248, 0.753);
}

#selectcor{
    display: block;
}

@media screen and (min-width: 768px) {
    #personalizacao{
        padding: 0px 32px;
    }
}

@media screen and (min-width: 1024px) {
    #salvarprojeto{
        margin-top: 38px;
    }
}

